.boards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.board-container {
  background: #ae3b91;
  padding: 20px;
  border-radius: 8px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 442px;
  height: 442px;
  background: #0a0e27;
  padding: 6px;
  gap: 2px;
}

.board-wrapper {
  display: inline-block;
}

.board-with-rows {
  display: flex;
  gap: 6px;
}