.column-labels {
  display: grid;
  grid-template-columns: repeat(12, var(--tile-size));
  gap: var(--tile-gap);

  margin-left: var(--label-size);
  padding-left: var(--board-padding);
}

.column-labels div {
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-labels {
  display: grid;
  grid-template-rows: repeat(12, var(--tile-size));
  gap: var(--tile-gap);
}

.row-labels div {
  width: var(--label-size);
  display: flex;
  align-items: center;
  justify-content: center;
}
