.tile {
  width: var(--tile-size);
  height: var(--tile-size);
  background: #5087d0;
  cursor: pointer;

  &:hover {
    background: #2a5080;
  }

  &.carrier { background: #2c3e50; }
  &.battleship { background: #34495e; }
  &.cruiser { background: #475569; }
  &.submarine { background: #546e7a; }
  &.destroyer { background: #607d8b; }

  &.hit,
  &.miss {
    position: relative;
  }

  &.hit {
    background: #d02410;

    &::after {
      content: "✕";
      color: white;
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.miss {
    background: #7f8c8d;

    &::after {
      content: "○";
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}