/* src/styles/main.scss */

@use "./base/reset";
@use "./base/variables";
@use "./base/typography";

@use "./layout/nav";
@use "./layout/boards";
@use "./layout/labels";

@use "./components/tiles";
@use "./components/legend";
@use "./components/stats";
@use "./components/history";
@use "./components/controls";

@use "./pages/game";

@use "./responsive/mobile";


/* Full screen background */
.background-preview {
    position: fixed;
    inset: 0;
    background: url('/public/ocean-bg.jpg') center/cover no-repeat;
    filter: blur(6px);
    z-index: -2;
}

/* Dark overlay */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* Center card */
.auth-card {
    width: 350px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.auth-card input {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.auth-card button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
