@media (max-width: 900px) {
  :root {
    --tile-size: 28px;
    --label-size: 28px;
  }

  .boards {
    gap: 25px;
  }
}

@media (max-width: 600px) {
  :root {
    --tile-size: 24px;
    --label-size: 24px;
  }

  .boards {
    flex-direction: column;
    align-items: center;
  }

  .board-container {
    width: auto;
  }
}