@use "./variables";

body {
  font-family: variables.$font-body;
  background: #1a1a2e;
  color: #eee;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #3dc7e3;
  margin-bottom: 30px;
}

h2 {
  color: #de2828;
  margin-bottom: 15px;
}

h1, h2, h3 {
  font-family: variables.$font-heading;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}